* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Josefin_Sans;
  src: url(font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}
body {
  max-width: 2000px;
  background-color: rgb(28, 28, 28);
  font-family: Josefin_Sans;
  overflow-y: hidden;
  font-size: 16px;
}
/* header */
header {
  width: 100%;
}
.menu {
  background-color: rgb(28, 28, 28);
  height: 4.2rem;
  padding-left: 3rem;
  padding-top: 1.4rem;
}
/* main */
.content {
  width: 100%;
  height: 41rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: auto;
  margin-left: auto;
}
.doing {
  padding: 1rem;
  text-align: center;
}
.done {
  padding: 1rem;
  text-align: center;
}
.todo {
  padding: 1rem;
  text-align: center;
}
.todo-content {
  background-image: linear-gradient(
    65.4deg,
    rgba(56, 248, 249, 1) -9.1%,
    rgba(213, 141, 240, 1) 48%,
    rgba(249, 56, 152, 1) 111.1%
  );
  min-height: 10rem;
  max-height: 29rem;
  text-align: center;
  padding: 0.6rem;
  border-radius: 1.2rem;
  margin-bottom: 8px;
  padding: 0.8rem;
  overflow-x: hidden;
}
.overflow {
  overflow-y: scroll;
}
h1 {
  margin-bottom: 10px;
  font-family: Josefin_Sans;
}

.doing-content {
  background-image: radial-gradient(
    circle 918px at 13.1% 25.5%,
    rgba(249, 107, 107, 1) 0%,
    rgba(247, 231, 172, 1) 48.9%,
    rgba(173, 247, 172, 1) 90%
  );
  min-height: 10rem;
  max-height: 36rem;
  text-align: center;
  padding: 0.6rem;
  border-radius: 1.2rem;
  margin-bottom: 8px;
  padding: 0.8rem;
  z-index: 1;
}

.done-content {
  background-image: linear-gradient(
    65.4deg,
    rgba(56, 248, 249, 1) -9.1%,
    rgba(213, 141, 240, 1) 48%,
    rgba(249, 56, 152, 1) 111.1%
  );
  min-height: 10rem;
  max-height: 20rem;
  text-align: center;
  padding: 0.6rem;
  border-radius: 1.2rem;
  margin-bottom: 8px;
  padding: 0.8rem;
}

.name-work {
  font-size: 1.2rem;
  color: blanchedalmond;
  cursor: pointer;
}
/* modal */
.modal {
  width: 30%;
  height: 24rem;
  z-index: 12;
  background-color: rgb(60, 59, 59);
  box-shadow: 0 20rem 5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: aliceblue;
}
.overlay-hidden {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgb(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 10;
}
.hidden {
  display: none;
}
.transform {
  margin-right: auto;
  margin-left: auto;
  z-index: 12;
  position: relative;
  bottom: 35rem;
}
.typecard {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 4.5rem;
}
#type {
  height: 1.5rem;
  font-size: 1rem;
  font-family: Josefin_Sans;
}
.close {
  display: block;
  font-size: 1.5rem;
  text-align: right;
  margin-right: 2rem;
}
.title-text {
  margin-right: 7rem;
}
.title-inputs {
  font-size: 1.2rem;
}
#title-input {
  font-size: 1rem;
  border-radius: 3px;
}
.input {
  height: 2rem;
  width: 50%;
}
.description-text {
  margin-right: 3rem;
}
#description-input {
  font-size: 1rem;
  border-radius: 3px;
}
.dete-text {
  margin-right: 4.2rem;
}
#date-input {
  font-size: 1rem;
  text-align: center;
  border-radius: 3px;
}
.info {
  display: flex;
  margin: 2rem;
}
.btn-create {
  background-color: rgb(235, 123, 227);
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 2px rgb(63, 63, 63);
}
.curt-style {
  width: 100%;
  height: 10rem;
  background-color: rgb(244, 237, 242);
  padding: 1rem;
  text-align: left;
  font-size: 1.4rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}
.dis-style {
  margin-bottom: 1rem;
}
.date-style {
  display: inline;
  margin-right: 10rem;
}
.next--date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .todo-content {
    max-height: 12rem;
    overflow-x: hidden;
  }
  .doing-content {
    max-height: 12rem;
    overflow-x: hidden;
  }
  .done-content {
    max-height: 12rem;
    overflow-x: hidden;
  }
  h1 {
    font-size: 1rem;
  }
  .close {
    margin-right: 0.2rem;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .content {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  .modal {
    width: 60%;
    height: 17rem;
  }
  .typecard {
    font-size: 0.7em;
    margin-right: 0.2rem;
  }
  .info {
    margin: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }

  .input {
    height: 1.5rem;
    width: 3.8rem;
  }
  .title-inputs {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
  .title-text {
    font-size: 1em;
    margin-right: 2.3rem;
  }
  .description-text {
    margin-right: 0.2rem;
  }
  .dete-text {
    margin-right: 0.3rem;
  }
  .btn-create {
    font-size: 1rem;
    padding: 0.2rem;
  }
  .dis-style {
    font-size: 0.8rem;
  }
  .date-style {
    font-size: 0.8rem;
    margin-right: 0.3rem;
  }
  .next {
    font-size: 0.9rem;
  }
  .curt-style {
    height: 8rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .modal {
    width: 60%;
    height: 20rem;
  }
  .input {
    width: 60%;
  }
  .info {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .typecard {
    margin-right: 0.5rem;
  }
  .title-text {
    margin-right: 4rem;
  }
  .description-text {
    margin-right: 1rem;
  }
  .dete-text {
    margin-right: 0.5rem;
  }
  .title-inputs {
    font-size: 0.9rem;
    margin-top: 0.3rem;
  }
  .btn-create {
    font-size: 1rem;
  }
  .close {
    font-size: 1rem;
    margin-right: 1rem;
  }
  .dis-style {
    font-size: 0.7rem;
    margin-bottom: 0.3rem;
  }
  .date-style {
    font-size: 0.65rem;
    margin-right: 0.5rem;
  }
  .next {
    font-size: 0.7rem;
  }
  .curt-style {
    height: 5.5rem;
    padding: 0.3rem;
  }
  h1 {
    font-size: 0.6rem;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .input {
    width: 40%;
  }
  .modal {
    width: 45%;
  }
  h1 {
    font-size: 1rem;
  }
  .typecard {
    margin-right: 3.4rem;
  }
  .dis-style {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
  .date-style {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .next {
    font-size: 0.8rem;
  }
  .curt-style {
    height: 5.5rem;
    padding: 0.3rem;
  }
  h1 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1199px) {
  .modal {
    width: 45%;
  }
  .typecard {
    margin-right: 3.8rem;
  }
  .dis-style {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
  }
  .date-style {
    font-size: 0.9rem;
    margin-right: 0.5rem;
  }
  .next {
    font-size: 0.9rem;
  }
  .curt-style {
    height: 5.5rem;
    padding: 0.3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .typecard {
    margin-right: 3.4rem;
  }
  .info {
    display: flex;
    justify-content: space-between;
  }
  .modal {
    height: 27rem;
  }
  .date-style {
    font-size: 1rem;
    margin-right: 1rem;
  }
}
